@page "{RideId}"
@model RideService.Pages.Rides.AddReportModel
@using RideService.Models
@{
    ViewData["Title"] = "Add Report";
}

<h1>AddReport to </h1>

<form method="post">
    @Html.AntiForgeryToken()
    <input asp-for="ReportDate" value="@DateTime.Now.ToString("yyyy-MM-dd")"/><br />
    <label asp-for="Status"></label><br />
    <select asp-for="Status" asp-items="Html.GetEnumSelectList<Status>()"></select><br />
    <label asp-for="Notes"></label><br />
    <textarea asp-for="Notes"></textarea><br />
    <input type="submit" value="Add Report" />
</form>

