@page
@model RideService.Pages.Rides.CreateModel
@{
    ViewData["Title"] = "Create Ride";
}

<div class="row">
    <h1>Create new ride</h1>
    <br />
    @if (Model.Message != null)
    {
        <h2>@Model.Message</h2>
    }
    <br />
    <form method="post">
        @Html.AntiForgeryToken()
        <div class="form-group col-md-5">
            <label asp-for="Name"></label><br />
            <input class="form-control" asp-for="Name" /><br />
            <label asp-for="Description"></label><br />
            <input class="form-control" asp-for="Description" /><br />
            <label>Category</label><br />
            <select class="form-control" asp-for="CategoryId" asp-items="@Model.CategoryIds"></select>
            <input class="btn btn-primary" type="submit" value="Add Ride" />
        </div>
    </form>
</div>