@page
@model RideService.Pages.Rides.CreateModel
@{
    ViewData["Title"] = "Create";
}

<h1>Create new ride</h1>
<form>
    <label for="Name"></label><br />
    <input type="text" name="Name" value="" /><br />
    <label for="Description"></label><br />
    <input type="text" name="Description" value="" /><br />
    <label for="Category"></label><br />
    <select name="CategoryId"></select>
</form>

